binary "https://raw.githubusercontent.com/urbanairship/apptimize-ios-kit/master/Apptimize.json" ~> 3.5
binary "https://raw.githubusercontent.com/mParticle/mparticle-apple-sdk/main/mParticle_Apple_SDK.json" ~> 8.22
